*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
}
body{
    overflow-x: hidden;
}
.first img{
 width:100%;
 height: 80px;
 object-fit: cover;
}
.color{
    color: rgb(246, 0, 131) ;
}
nav ul {
    align-items: baseline;
}
.item{
    padding-left: 10px;
    margin-top: 10px;
    margin: 10px auto 0px auto !important;
}
.item1 img{
    width:80px;
    height: 20px;
}
.sec img{
    height: 20px;
}
.min{
    align-items: baseline;
}
.min ul li a {
    text-decoration: none;
    color:white;
}
.white {
    white-space: nowrap;
}
.good {
    margin-top: 20px;
}
.good img {
    width: 8vw;
    height: 200px;
    margin-left: 15px;
}
@media screen { 
    
}
.good :-child {
    flex-direction: column;
}
.good :second-child {
    flex-direction: column;
}
.blog {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.blog span  button{
    width: 180px;
    height: 50px;
    margin: 20px 0px 20px 20px;
}
@media screen and (max-width:800px) {
    .blog {
        display: none;      
    }
    .furn{
        width: 30%;
        display:flex;
        align-items:start;
    }
}
.colortwo{
   background-color: rgba(100, 2, 54, 0.837);
}
.deal{
    font-weight: 600;
    font-size: 30px;
    justify-items: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.deals{
    font-weight: 600;
    font-size: 20px;
    justify-items: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.see{
    font-weight: 500;
    font-size: larger;
    padding-left: 30px;
}
.percentage {
    background-color: rgb(246, 0, 131);
    color: rgba(100, 2, 54, 0.837);
    border-radius: 10px;
}
.prod{
    font-weight: 800;
    font-size: 30px;
}
.now{
    background-color: rgba(239, 56, 154, 0.733);
}
.hard img {
    width: 99%;
    height: 95%;
}
.shop{
    font-size: 15px;
    color: rgba(100, 2, 54, 0.837);
}
.online{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.nigeria{
    font-size: 14px;
}
a{
    text-decoration: none;
     
}
.footer {
    position:static;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: gray;
}
.footertwo{
 background-color: rgb(81, 78, 78);
 color: gray;
 height: fit-content;
}
.footer >div >div >span .p{
    margin-bottom:5px;
    margin-top: 0%;
}
.footerthree {
        position:static;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: black;

}
.run{
    display: flex;
    align-items: start;
}
.bords {
    border-radius: 20px;
    border-color: gray;
}
@media screen and (max-width:578px) {
    html {
    overflow-x: hidden; } 

}
 @media screen and (min-width:578px) and (max-width:1000px) {  
        .navtwo {
      white-space:nowrap;
      overflow-x :auto;
        }   
 }
 .icon {
    font-size: x-large;
 }
 .flow{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
 }
 .bar{
    display: flex;
    justify-content: space-around;
 }